.container-fluid {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q_status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.d-flex {
    width: 30%;
}

.d-flex > input {
    min-width: 100px;
}

.container-fluid > .q_status {
    display: flex;
    flex-direction: column;
}

.container-fluid > .table {
    text-align: center;
    width: 50%;
}

.container-fluid > nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.container-fluid > nav > div {
    width: 50%;
}

.tab-content {
    margin-top: -100px;
}

#nav-home-tab:focus {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

#nav-profile-tab:focus {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

 #nav-contact-tab:focus {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

#nav-contact1-tab:focus {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

#nav-contact2-tab:focus {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

#nav-home-tab {
    color: black;
    min-width: 130px;
}

#nav-profile-tab{
    color: black;
    min-width: 130px;
}

#nav-contact-tab {  
    color: black;
    min-width: 130px;
}

#nav-contact1-tab {
    color: black;
    min-width: 130px;
}

#nav-contact2-tab {
    color: black;
    min-width: 130px;
}


.flash {
    list-style-type: none;
}

.links > a {
    position: relative;
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: bold;
    right: 100%;
}

.d-flex flex-row bd-highlight mb-3 {
    width: 100%;
    float: right;
}

#navbar {
    padding: 3px 0 3px 0;
}

.d-flex {
    margin-top: 20px;
}

.dropdown {
    position: absolute;
    padding: 0 150px 1px 0;
}

#dropdownMenu2 {
    background-color: inherit;
    color: white;
    border: solid 2px #212529;
    border-radius: 50%;
    padding: 0;
}

#dropdownMenu2:hover {
    background-color: inherit;
    color: white;
    border: solid 2px;
    border-radius: 50%;
}

.dropdown-menu {
    text-align: left;
    align-items: left;
    float: left;
}

.bi .bi-person {
    display: inline-block;
    padding-bottom: 3px;
    width: 30px;
    height: 30px;
}

.email {
    padding: 4px 16px;
    font-weight: bold;
}

#picture {
    padding: 0;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }