:root {
    --main-bg-color: #f8f9fa;
    --primary-color: white;
    --secondary-color: black;
    --third-color: #212529;
    --froth-color: transparent;
    --fifth-color: #dee2e6;
    --sixth-color: #f8f9fa;
}

.dark-theme{
    --main-bg-color: #0d1117;
    --primary-color: #0d1117;
    --secondary-color: white;
    --third-color: #f8f9fa;
    --fifth-color: #212529;
    --sixth-color: #212529;
}

.links > .btn{
    padding: 0 0 3px 0;
    margin-left: 50px;
    margin-right: 19px;
}

#body_main {
    background-color: var(--main-bg-color);
}

#dark_theme_btn {
    color: white;
    border: solid 2px #212529;
    background: transparent;
    padding: 0;
    border-radius: 50%;
    margin-right: -20px;
}

#dark_theme:hover{
    cursor: pointer;
}

.theme-btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: bold;
    padding: 0 0 1px 0;
    right: 100%;
}

#icon {
    border-color: white;
    margin: 4px;
    padding: 0;
}

.container-fluid {
    padding: 50px 12px 29px 12px;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
}

.q_status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -50px;
    color: var(--third-color);
}

.d-flex > input {
    min-width: 150px;
    width: 100%;
}

.container-fluid > .q_status {
    display: flex;
    flex-direction: column;
}


.container-fluid > .table {
    text-align: center;
    width: 100%;
}

#table-dark > tr > th {
    border-bottom-width: 0;
}

#Conditions {
    min-width: 182px;
    padding: auto;
}

#table_row > td {
    vertical-align: middle;
    background-color: var(--primary-color);
    border-color: var(--fifth-color);
    color: var(--secondary-color);
}

.location-credentials {
    color: var(--secondary-color);
}

#btn_search_main {
    background-color: var(--sixth-color);
    color: var(--secondary-color);
}

#btn_search_main:hover {
    background-color: #212529;
    border-color: var(--third-color);
    color: white;
}

#container_nav {
    padding: 0 12px 50px 12px;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
}

.container-fluid > nav {
    display: flex;
    justify-content: left;
    text-align: left;
    width: 100%;
}

.container-fluid > nav > div {
    width: 100%;
}

.tab-content {
    margin-top: -100px;
}

#nav-tab {
    border-color: var(--froth-color);
}

#nav-home-tab:focus {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

#nav-profile-tab:focus {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

#nav-contact-tab:focus {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

#nav-contact1-tab:focus {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

#nav-contact2-tab:focus {
    background-color: #212529;
    border-color: #212529;
    color: white;
}

#nav-home-tab {
    background-color: var(--main-bg-color);
    border-color: var(--froth-color);
    color: var(--secondary-color);
    min-width: 130px;
    min-height: 66px;
}

#nav-profile-tab {
    background-color: var(--main-bg-color);
    border-color: var(--froth-color);
    color: var(--secondary-color);
    min-width: 130px;
}

#nav-contact-tab {
    background-color: var(--main-bg-color); 
    border-color: var(--froth-color);
    color: var(--secondary-color);
    min-width: 130px;
}

#nav-contact1-tab {
    background-color: var(--main-bg-color);
    border-color: var(--froth-color);
    color: var(--secondary-color);
    min-width: 130px;
}

#nav-contact2-tab {
    background-color: var(--main-bg-color);
    border-color: var(--froth-color);
    color: var(--secondary-color);
    min-width: 130px;
}

.flash {
    list-style-type: none;
}

.links > a {
    position: relative;
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: bold;
    right: 100%;
}

.d-flex flex-row bd-highlight mb-3 {
    width: 100%;
    float: right;
}

#navbar {
    padding: 3px 0 3px 0;
    min-width: 650px;
    width: 100%;
}

#container {
    position: relative;
    max-width: 100%;
    padding: 0;
}

#container_search {
    padding-top: 2.5%;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.dropdown {
    position: absolute;
    padding: 0 120px 1px 0;
}

#dropdownMenu2 {
    background-color: inherit;
    color: white;
    border: solid 2px #212529;
    border-radius: 50%;
    padding: 0;
}

#dropdownMenu2:hover {
    background-color: inherit;
    color: white;
    border: solid 2px;
    border-radius: 50%;
}

.dropdown-menu {
    max-width: 170px;
    text-align: left;
    align-items: left;
    float: left;
}

#email {
    position: relative;
    max-width: 170px;
    overflow: hidden;
}

.bi .bi-person {
    display: inline-block;
    padding-bottom: 3px;
    width: 30px;
    height: 30px;
}

.email {
    padding: 4px 16px;
    font-weight: bold;
}

#picture {
    padding: 0;
}

.arrow {
    border: solid var(--secondary-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.p-newline {
    margin: 0;
}

.location {
    display: flex;
    width: 100%;
    padding: 0 25% 0 25%;
    margin-top: -15px;
    justify-content: center;
}

.location-info {
    display: inline-block;
    width: 83%;
    text-align: center;
}

.location-credentials {
    margin-top: -15px;
}

#location-name {
    font-weight: bold;
    padding-bottom: 10px;
    color: var(--secondary-color)
}

.location_sun_time {
    display: inline-block;
    text-align: center;
    max-height: 30px;
    position: absolute;
    width: auto;
    margin-top: -20px;
}

#location_sunrise {
    float: left;
    color: var(--secondary-color);
    margin-left: 50px;
    margin-top: -12px;
}

#location_sunset {
    float: left;
    color: var(--secondary-color);
    margin-left: 30px;
    margin-top: -12px;
}

.track {
    display: inline-block;
    position: relative;
    width: auto;
}

.track-dropdown {
    position: relative;
    display: flex;
    width: auto;
}

#btn-track {
    margin-top: -7px;
    color: var(--third-color);
    text-decoration: none;
    background-color: inherit;
    border: none;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 2px;
    padding-left: 10px;
}

#btn-track:active {
    color: white;
    text-decoration: none;
    border-color: var(--secondary-color);
    border-radius: 50px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 2px;
}

.icon_svg {
    margin-top: -2px;
}

.quick_search_btn {
    color: var(--secondary-color);
    max-width: auto;
    background: none;
    text-decoration: none;
    border: none;   
}

.quick_search_btn:hover {
    text-decoration: underline;
}

.quick_search {
    padding: 0 50px;
    width: 0;
    background: none;
    text-decoration: none;
    border: none;
}

.flex-container {
    position: relative;
    display: flex;
    flex-direction: row;
    float: left;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.quick_search_container_main {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

form {
    width: 100%;
}

#nav-tab > .active {
    background-color:#212529;
    color: white;
}

#logo_container_position {
    position: absolute;
    width: auto;
    float: left;
}

#logo_container {
    position: relative;
}

#logo {
    position: relative;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 110%;
    color: white;
    margin: 0 0 0 50%;
    padding: 0 10px 3px 10px;
}

#view_main {
    display: flex;
    flex-flow:column nowrap;
}

.view-main-left {
    width: 50%;
    float: left;
}

.view-main-right {
    width: 50%;
    float: right;
}

.view-main-bottom {
    bottom: 10%;
    width: 100%;
}

#container_map {
    position: relative;
    padding: 66px 12px 45px 12px;
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
    height: 100%;
    min-width: 467px;
}

.container-fluid > #map {
    position: relative;
    padding: 50px 12px 50px 12px;
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
    height: 100%;
    margin-top: 0;
    min-height: 547px;
    max-height: 1000px;
}



