{% from 'macros.html' import table_header, table_data %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <meta name="viewport" content="width=device-width, maximum-scale=10">
    <title>MyWeatherApp</title>
</head>
<body id="body_main">
    <div class="container" id="container">
        <nav class="navbar navbar-dark bg-dark" id="navbar">
            <div class="d-flex flex-row bd-highlight mb-3"></div>
            <div id="logo_container_position">
                <div id="logo_container">
                    <a id="logo" href="/" title="Home">MyWeatherApp</a>
                </div>
            </div>
                    {% if not session.user_id %}
                    <div class="links">
                        <div class="theme-btn">
                            <button class="btn btn-secondary" type="button" id="dark_theme_btn" title="Theme">
                            <img class="bi bi-moon" id="icon" src="/static/images/moon.png" alt="Image Error" id="dark_theme" width="22" height="22">
                            </button>
                        </div>
                        <a class="btn btn-outline-dark" type="button" id="logut_btn" href="/login">Login</a>
                    </div>
                    {% else %}
                    <div class="dropdown">
                        <div class="theme-btn">
                            <button class="btn btn-secondary" type="button" id="dark_theme_btn" title="Theme">
                            <img class="bi bi-moon" id="icon" src="/static/images/moon.png" alt="Image Error" id="dark_theme" width="22" height="22">
                            </button>
                        </div>
                        <button class="btn btn-secondary" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" title={{session.email}}>
                            <i class="bi bi-person"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            </svg></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" href="/logout">
                            <li><label class="email" id="email">{{ session.username }}</label></li>
                            {% if session.track %}
                                {% if data %}
                                    <form class="track_dropdown" action="/stop_track" method="POST">
                                        <li><button class="dropdown-item" method="POST" name="location" value="{{data[0][0][1]['Location']}}" title={{session.track_name}}>Stop mailing (Track)</button></li>
                                    </form>
                                {% else %}
                                    <form class="track_dropdown" action="/stop_track" method="POST">
                                        <li><button class="dropdown-item" method="POST" name="location" value="" title={{session.track_name}}>Stop mailing (Track)</button></li>
                                    </form>
                                {% endif %}
                            {% endif %}
                            <li><a class="dropdown-item"  href="/change_password">Change password</a></li>
                            <li><a class="dropdown-item"  href="/delete">Delete account</a></li>
                            <li><a class="dropdown-item"  href="/logout">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class='container-fluid' id="container_search">
            <div class="quick_search_container_main">
                <form class="d-flex" action="/" method="POST">
                    <input class="form-control me-2" id="form_main" type="text" name="location" placeholder="Search" aria-label="Search">
                    <button type="submit" class="btn btn-outline-dark" id="btn_search_main">Search</button>
                </form>
                <div class="break"></div>
                <div class="flex-container" id="quick_search_container">
                    {% if search_result %}
                    {% for i in search_result.values() %}
                        {% set search=i %}
                        {% if search[0]["search_0"] != False %}
                            <form class="quick_search_form" id="quick_search_form" action="/" method="POST">
                                <button type="submit" class="quick_search_btn" id="quick_search_btn" method="POST" name="location" value="{{search[0]['search_0']}}">{{ search[0]["search_0"] }}</button>
                            </form>
                        {% endif %}
                        {% set search1=i %}
                        {% if search1[1]["search_1"] != False %}
                            <form class="quick_search_form" id="quick_search_form1" action="/" method="POST">
                                <button type="submit" class="quick_search_btn" method="POST"name="location" value="{{search1[1]['search_1']}}">{{ search1[1]["search_1"] }}</button>
                            </form>
                        {% endif %}
                        {% set search2=i %}
                        {% if search2[2]["search_2"] != False %}
                            <form class="quick_search_form" id="quick_search_form2" action="/" method="POST">
                                <button type="submit" class="quick_search_btn" method="POST" name="location" value="{{ search2[2]['search_2'] }}">{{ search2[2]["search_2"] }}</button>
                            </form>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if status %}
            <div class="q_status">{{ status }}</div>
        {% endif %}
        <div class="container-fluid" id="view-main">
        {% if data %}
            <div class="view-main-left" id="view-main-left">
                <div class="container-fluid" id="container_nav">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                            {% set date=day_of_week(data[0][0][0]) %}{{ date[0]}}<p class="p-newline">{{ date[1] }} {{ date[2] }}</p></button>
                        <button class="nav-link"id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                            {% set date=day_of_week(data[1][0][0]) %}{{ date[0]}}<p class="p-newline">{{ date[1]}} {{ date[2] }}</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                            {% set date=day_of_week(data[2][0][0]) %}{{ date[0]}}<p class="p-newline">{{ date[1]}} {{ date[2] }}</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact1" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                            {% set date=day_of_week(data[3][0][0]) %}{{ date[0]}}<p class="p-newline">{{ date[1]}} {{ date[2] }}</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact2" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                            {% set date=day_of_week(data[4][0][0]) %}{{ date[0]}}<p class="p-newline">{{ date[1]}} {{ date[2] }}</button>
                        </div>
                    </nav>
                </div>
                <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><div class="container-fluid">
                        <table class="table">   
                        {{ table_header() }}
                            {{ table_data(data,compass, 0) }}
                        </table>
                    </div></div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><div class="container-fluid">
                        <table class="table"> 
                        {{ table_header() }}
                            {{ table_data(data,compass, 1) }}
                        </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><div class="container-fluid">
                        <table class="table">
                            {{ table_header() }}
                                {{ table_data(data,compass, 2) }}
                        </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact-tab"><div class="container-fluid">
                        <table class="table">
                            {{ table_header() }}
                                {{ table_data(data,compass, 3) }}
                        </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab"><div class="container-fluid">
                        <table class="table">
                            {{ table_header() }}
                                {{ table_data(data,compass, 4) }}
                        </table>
                        </div>
                    </div>
                </div>
                </div>
                <div class="view-main-right" id="view-main-right">
                    
                    <div class="container-fluid" id="container_map">
                        <div class="location_sun_time" id="location_sun_time">
                            <label id="location_sunrise"><i class="bi bi-sunrise-fill"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-sunrise-fill" viewBox="0 0 16 16">
                                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 0 1-.708.708L8.5 2.707V4.5a.5.5 0 0 1-1 0V2.707l-.646.647a.5.5 0 1 1-.708-.708l1.5-1.5zM2.343 4.343a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM11.709 11.5a4 4 0 1 0-7.418 0H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                              </svg></i> {{data[0][0][1]['sunrise']}}</label>
                            <label id="location_sunset"><i class="bi bi-sunset-fill"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-sunset-fill" viewBox="0 0 16 16">
                                <path d="M7.646 4.854a.5.5 0 0 0 .708 0l1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V1.5a.5.5 0 0 0-1 0v1.793l-.646-.647a.5.5 0 1 0-.708.708l1.5 1.5zm-5.303-.51a.5.5 0 0 1 .707 0l1.414 1.413a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .706l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM11.709 11.5a4 4 0 1 0-7.418 0H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                              </svg></i> {{data[0][0][1]['sunset']}} &nbsp; &nbsp; UTC{{data[0][0][1]['timezone']}}</label>
                        </div>
                        <div class="map" id="map"></div>
                    </div>
                </div>
            </div>
            <div class="view-main-bottom">
                <div class="location">
                    <div class="location-info">
                        <label id="location-name">{{data[0][0][1]['country']}} {{data[0][0][1]['Location']}}</label>
                        <label class="location-credentials">Id: {{data[0][0][1]['ID']}} Lat: {{data[0][0][1]['Lat']}} Lon: {{data[0][0][1]['Lon']}}</label>
                        {% set lat=data[0][0][1]['Lat'] %}
                        {% set lon=data[0][0][1]['Lon'] %}
                    {% if session.user_id %}
                        <div class="track">
                            <form class="track" action="/track" method="POST">
                            <button class="btn-track" id="btn-track" type="submit" aria-expanded="false" title="Send to Email" name="location" value="{{data[0][0][1]['Location'],data[0][0][1]['ID']}}">
                                <i class="bi bi-envelope-fill"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                                </svg></i> Track
                            </button>
                            </form>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        
<script src="static/script.js"></script>
<script>
    var lat = "{{lat}}", lon = "{{lon}}";
    manageMap(lat, lon)
</script>
</body>
</html>
