<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="/static/styles_register.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <title>Login</title>
</head>
    <body>
        <div class="text-center" style="padding:50px 0">
            <div class="logo">login</div>
            <div class="login-form-1">
                <form action="/login" method="POST" id="login-form" class="text-left">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="lg_email" class="sr-only">Email</label>
                                <input type="text" class="form-control" id="lg_email" name="email" placeholder="email" required="true">
                            </div>
                            <div class="form-group">
                                <label for="lg_password" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="lg_password" name="password" placeholder="password" required="true">
                            </div>
                        </div>
                        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <div class="etc-login-form">
                        <p>Have no account? <a href="/register">Create account</a></p>
                    </div>
                </form>
            </div>
            <div class="flash">
                {% block content %}
                        {% with messages = get_flashed_messages() %}
                                {% if messages != [] %}
                                    {% for message in messages %}   
                                        <p>{{ message[0] }}</p>
                                        <p>{{ message[1] }}</p>
                                        <p>{{ message[2] }}</p>
                                    {% endfor %}
                                {% endif %}
                        {% endwith %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>