{% macro table_header() %}
<thead class="table-dark" id="table-dark">
          <tr>
              <th>Time <i class="bi bi-clock"><svg xmlns="http://www.w3.org/2000/svg" class="icon_svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                </svg></i></th>
              <th> Temperature °C <i class="bi bi-thermometer-low"><svg xmlns="http://www.w3.org/2000/svg" class="icon_svg" width="20" height="20" fill="currentColor" class="bi bi-thermometer-low" viewBox="0 0 16 16">
                <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V9.5a.5.5 0 0 1 1 0v1.585a1.5 1.5 0 0 1 1 1.415z"/>
                <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
              </svg></i></th>
              <th>Humidity<i class="bi bi-droplet-half"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet-half" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                  <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                </svg></th>
              <th>Precipitation <i class="bi bi-cloud-rain-fill"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-rain-fill" viewBox="0 0 16 16">
                <path d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm3 0a.5.5 0 0 1 .316.633l-1 3a.5.5 0 1 1-.948-.316l1-3a.5.5 0 0 1 .632-.317zm3 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm3 0a.5.5 0 0 1 .316.633l-1 3a.5.5 0 1 1-.948-.316l1-3a.5.5 0 0 1 .632-.317zm.247-6.998a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973z"/>
              </svg></i></th>
              <th id="Conditions"> Weather conditions <i class="bi bi-lightning-charge"><svg xmlns="http://www.w3.org/2000/svg" class="icon_svg" width="20" height="20" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
              </svg></i></th> 
              <th>Wind <i class="bi bi-compass"><svg xmlns="http://www.w3.org/2000/svg" class="icon_svg" width="20" height="20" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16">
                  <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                  <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
                </svg></i></th>
          </tr>
      </thead> 
</div>
{% endmacro %}

{% macro flash_messages() %}
  <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages != [] %}
          {% for message in messages %}   
              <p>{{ message[0] }}</p>
              <p>{{ message[1] }}</p>
              <p>{{ message[2] }}</p>
          {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
{% endmacro %}

{% macro table_data(data, compass, count) %}
<tbody>
  {% for i in data[count] %}
      <tr id="table_row">
        {% set min_temp = i[1]["min_temp"] %}
        {% set max_temp = i[1]["max_temp"] %}
          <td>{{ i[0].split()[1] }}</td>
          <td>{{ min_temp|int }}° / {{ max_temp|int }}°</td>
          <td>{{ i[1]["humidity"] }}%</td>
          {% set pop = (i[1]['pop']) * 100 %}
          <td>{{ pop|int }}%</td>
          {% set image_name = i[1]["picture_name"]+".png" %}
          {% set direction = compass(i[1]["wind"])+"deg" %}
          <td id="picture">{{ i[1]["conditions"] }} <picture><img src="{{ url_for('static', filename = 'images/'+image_name) }}" alt="Image error" style="width:20%;height:20%;min-height:62.33px;min-width:62.33px;max-height:62.33px;max-width:62.33px;"></picture></td>
          <td><i class="arrow" style=transform:rotate({{direction}});-webkit-transform:rotate({{direction}});></i> {{ i[1]["wind_speed"] }} m/s </td>
      </tr>
  {% endfor %}
</tbody>
{% endmacro %}
