<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="/static/styles_register.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
	<title>Register</title>
</head>
	<body>
		<div class="btn-home" id="btn-home">
            <a class="btn-home" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Home" href="/">
                <i class="bi bi-house-door-fill"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                </svg></i>
            </a>
        </div>
		<div class="text-center" style="padding:50px 0">
			<div class="logo">register</div>
			<div class="login-form-1">
				<form action="/register" method="POST" id="register-form" class="text-left">
					<div class="login-form-main-message"></div>
					<div class="main-login-form">
						<div class="login-group">
							<div class="form-group">
								<label for="reg_username" class="sr-only">Username</label>
								<input type="text" class="form-control" id="reg_username" name="username" placeholder="username" required="true" maxlength="20">
							</div>
							<div class="form-group">
								<label for="reg_email" class="sr-only">Email</label>
								<input type="text" class="form-control" id="reg_email" name="email" placeholder="email" required="true">
							</div>
							<div class="form-group">
								<label for="reg_password" class="sr-only">Password</label>
								<input type="password" class="form-control" id="reg_password" name="password" placeholder="password" required="true">
							</div>
							<div class="form-group">
								<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
								<input type="password" class="form-control" id="reg_password_confirm" name="confirm_password" placeholder="confirm password" required="true">
							</div>
						</div>
						<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
					</div>
					<div class="etc-login-form">
						<p>already have an account? <a href="/login">login here</a></p>
					</div>
				</form>
			</div>
			<div class="flash">
				{% block content %}
						{% with messages = get_flashed_messages() %}
								{% if messages != [] %}
									{% for message in messages %}   
										<p>{{ message[0] }}</p>
										<p>{{ message[1] }}</p>
										<p>{{ message[2] }}</p>
									{% endfor %}
								{% endif %}
						{% endwith %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
